{%extends "admin_layout.html"%} {%block content%} {%if service%}
<div class="form-main">
  <div class="form-inner">
    <h2 class="form-heading">Service Datails</h2>
    <form action="#">
      <div class="mb-0">
        <label for="name" class="form-label">Service Name</label>
        <input
          type="text"
          class="form-control"
          name="service_name"
          id="service_name"
          value="{{service.service_name}}"
          disabled
        />
      </div>
      <div class="mb-0">
        <label for="base_price" class="form-label">Base Price</label>
        <input
          type="text"
          class="form-control"
          name="base_price"
          id="base_price"
          value="{{service.base_price}}"
          disabled
        />
      </div>
      <div class="mb-0">
        <label for="time_required" class="form-label">Time required</label>
        <input
          type="text"
          class="form-control"
          name="time_required"
          id="time_required"
          value="{{service.time_required}}"
          disabled
        />
      </div>
      <div class="mb-0">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          value="{{service.description}}"
          disabled
        />
      </div>
      <div class="mt-2">
        <a href="/admin/{{user_msg}}" class="btn btn-primary">Go Back</a>
      </div>
    </form>
  </div>
</div>
{%endif%} {%endblock%}
